<ul class='list'>{{#each this}}
    <li class='list_item'>
      <img class='list_flag' src={{flags.svg}} width='70px' height='auto' alt={{name.common}} />
      <h2 class='list_name'>{{name.official}}</h2>
    </li>
  {{/each}}</ul>