* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  background: url(../images/map.jpg) no-repeat center top fixed;
  background-size: cover;
  padding-top: 50px;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 400px;
  width: 23%;
  margin-bottom: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-bottom: 30px;
}

#search-box:hover,
#search-box:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.wrapper {
  display: flex;
  align-items: center;
}

.title {
  margin-left: 30px;
  font-size: 40px;
}

.item {
  font-size: 24px;
  color: darkblue;
}

.value {
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
  color: #212121;
}

.list {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-left: 200px;
  margin-bottom: 10px;
  padding-left: 20px;
  width: 65%;
  background: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 16px 16px 16px 16px;
  cursor: pointer;
}

.list:hover {
  box-shadow: 0px 0px 5px 5px rgba(172, 166, 166, 0.8);
}

.flag {
  margin-right: 30px;
}

.card {
  background: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 16px 16px 16px 16px;
  width: 40%;
  padding: 40px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 0px 5px 5px rgba(172, 166, 166, 0.8);
}
